.container {
  width: 550px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* padding-top: 10px; */
  background-color: #6943FF;
  height: 270px;
  text-align: center;
}

h1 {
  color: #fff;
  margin: 0;
}

#input-el {
  width: 110px;
  height: 80px;
  border-radius: 5px;
  padding: 0;
  border: 2px solid #B295FF;
  background-color: #6943FF;
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

#convert-btn {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #3D3D3D;
  cursor: pointer;
}

.conversion{
  /* width: 100%; */
  padding: 15px 20px;
  background-color: #F4F4F4;
  
}

h4 {
  margin-bottom: 0;
}

.length,
.volume,
.mass {
  height: 100px;
  margin-top: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
